In [66]:
import pandas as pd
df=pd.read_csv(r"D:\JohnHopkins\COVID-19\csse_covid_19_data\csse_covid_19_daily_reports\01-02-2021.csv")
df.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-03 05:22:52,33.93911,67.709953,52586,2211,41727,8648,Afghanistan,135.084102,4.204541
1,NaN,NaN,NaN,Albania,2021-01-03 05:22:52,41.15330,20.168300,58991,1190,34353,23448,Albania,2049.864480,2.017257
2,NaN,NaN,NaN,Algeria,2021-01-03 05:22:52,28.03390,1.659600,100159,2769,67611,29779,Algeria,228.407338,2.764604
3,NaN,NaN,NaN,Andorra,2021-01-03 05:22:52,42.50630,1.521800,8166,84,7463,619,Andorra,10568.821588,1.028655
4,NaN,NaN,NaN,Angola,2021-01-03 05:22:52,-11.20270,17.873900,17608,407,11189,6012,Angola,53.574686,2.311449

        We got the data and now let's create some operations which can be used for ETL Pipeline

In [67]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

df=df.drop(['FIPS', 'Admin2'], axis=1)
df.head(5)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,Afghanistan,2021-01-03 05:22:52,33.93911,67.709953,52586,2211,41727,8648,Afghanistan,135.084102,4.204541
1,NaN,Albania,2021-01-03 05:22:52,41.15330,20.168300,58991,1190,34353,23448,Albania,2049.864480,2.017257
2,NaN,Algeria,2021-01-03 05:22:52,28.03390,1.659600,100159,2769,67611,29779,Algeria,228.407338,2.764604
3,NaN,Andorra,2021-01-03 05:22:52,42.50630,1.521800,8166,84,7463,619,Andorra,10568.821588,1.028655
4,NaN,Angola,2021-01-03 05:22:52,-11.20270,17.873900,17608,407,11189,6012,Angola,53.574686,2.311449

    Dropping FIPS and Admin2 columns and remember to keep axis=1 which means you're dropping columns otherwise if not mentioned     then by default axis=0 which means dropping rows.

In [68]:
df=df.dropna(subset=['Province_State'])
df.head(15)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
8,Australian Capital Territory,Australia,2021-01-03 05:22:52,-35.4735,149.0124,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,New South Wales,Australia,2021-01-03 05:22:52,-33.8688,151.2093,4958,54,0,4904,"New South Wales, Australia",61.074156,1.089149
10,Northern Territory,Australia,2021-01-03 05:22:52,-12.4634,130.8456,81,0,71,10,"Northern Territory, Australia",32.980456,0.000000
11,Queensland,Australia,2021-01-03 05:22:52,-27.4698,153.0251,1255,6,1232,17,"Queensland, Australia",24.533281,0.478088
12,South Australia,Australia,2021-01-03 05:22:52,-34.9285,138.6007,580,4,566,10,"South Australia, Australia",33.020211,0.689655
13,Tasmania,Australia,2021-01-03 05:22:52,-42.8821,147.3272,234,13,221,0,"Tasmania, Australia",43.697479,5.555556
14,Victoria,Australia,2021-01-03 05:22:52,-37.8136,144.9631,20391,820,19539,32,"Victoria, Australia",307.561200,4.021382
15,Western Australia,Australia,2021-01-03 05:22:52,-31.9505,115.8605,867,9,838,20,"Western Australia, Australia",32.958260,1.038062
23,Antwerp,Belgium,2021-01-03 05:22:52,51.2195,4.4024,79829,0,0,79829,"Antwerp, Belgium",4269.546940,0.000000
24,Brussels,Belgium,2021-01-03 05:22:52,50.8503,4.3517,81663,0,0,81663,"Brussels, Belgium",6703.276408,0.000000
25,East Flanders,Belgium,2021-01-03 05:22:52,51.0362,3.7373,65351,0,0,65351,"East Flanders, Belgium",4284.595035,0.000000
26,Flemish Brabant,Belgium,2021-01-03 05:22:52,50.9167,4.5833,49320,0,0,49320,"Flemish Brabant, Belgium",4267.015503,0.000000
27,Hainaut,Belgium,2021-01-03 05:22:52,50.5257,4.0621,102333,0,0,102333,"Hainaut, Belgium",7598.007187,0.000000
28,Liege,Belgium,2021-01-03 05:22:52,50.4496,5.8492,97071,0,0,97071,"Liege, Belgium",8746.711119,0.000000
29,Limburg,Belgium,2021-01-03 05:22:52,50.9739,5.3420,29434,0,0,29434,"Limburg, Belgium",3354.799002,0.000000

    Removes all rows where Province_State == null

In [69]:
imputer=SimpleImputer(strategy="mean")
df['Lat']=imputer.fit_transform(df[['Lat']])
df['Long_']=imputer.fit_transform(df[['Long_']])
df.head(40)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
8,Australian Capital Territory,Australia,2021-01-03 05:22:52,-35.473500,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,New South Wales,Australia,2021-01-03 05:22:52,-33.868800,151.209300,4958,54,0,4904,"New South Wales, Australia",61.074156,1.089149
10,Northern Territory,Australia,2021-01-03 05:22:52,-12.463400,130.845600,81,0,71,10,"Northern Territory, Australia",32.980456,0.000000
11,Queensland,Australia,2021-01-03 05:22:52,-27.469800,153.025100,1255,6,1232,17,"Queensland, Australia",24.533281,0.478088
12,South Australia,Australia,2021-01-03 05:22:52,-34.928500,138.600700,580,4,566,10,"South Australia, Australia",33.020211,0.689655
13,Tasmania,Australia,2021-01-03 05:22:52,-42.882100,147.327200,234,13,221,0,"Tasmania, Australia",43.697479,5.555556
14,Victoria,Australia,2021-01-03 05:22:52,-37.813600,144.963100,20391,820,19539,32,"Victoria, Australia",307.561200,4.021382
15,Western Australia,Australia,2021-01-03 05:22:52,-31.950500,115.860500,867,9,838,20,"Western Australia, Australia",32.958260,1.038062
23,Antwerp,Belgium,2021-01-03 05:22:52,51.219500,4.402400,79829,0,0,79829,"Antwerp, Belgium",4269.546940,0.000000
24,Brussels,Belgium,2021-01-03 05:22:52,50.850300,4.351700,81663,0,0,81663,"Brussels, Belgium",6703.276408,0.000000
25,East Flanders,Belgium,2021-01-03 05:22:52,51.036200,3.737300,65351,0,0,65351,"East Flanders, Belgium",4284.595035,0.000000
26,Flemish Brabant,Belgium,2021-01-03 05:22:52,50.916700,4.583300,49320,0,0,49320,"Flemish Brabant, Belgium",4267.015503,0.000000
27,Hainaut,Belgium,2021-01-03 05:22:52,50.525700,4.062100,102333,0,0,102333,"Hainaut, Belgium",7598.007187,0.000000
28,Liege,Belgium,2021-01-03 05:22:52,50.449600,5.849200,97071,0,0,97071,"Liege, Belgium",8746.711119,0.000000
29,Limburg,Belgium,2021-01-03 05:22:52,50.973900,5.342000,29434,0,0,29434,"Limburg, Belgium",3354.799002,0.000000
30,Luxembourg,Belgium,2021-01-03 05:22:52,50.054700,5.467700,18457,0,0,18457,"Luxembourg, Belgium",6436.572369,0.000000
31,Namur,Belgium,2021-01-03 05:22:52,50.331000,4.822100,35495,0,0,35495,"Namur, Belgium",7158.674712,0.000000
32,Unknown,Belgium,2021-01-03 05:22:52,36.624016,-75.496311,10723,19644,0,0,"Unknown, Belgium",NaN,183.195001
33,Walloon Brabant,Belgium,2021-01-03 05:22:52,50.400000,4.350000,25167,0,0,25167,"Walloon Brabant, Belgium",6198.478396,0.000000
34,West Flanders,Belgium,2021-01-03 05:22:52,51.053600,3.145800,54326,0,0,54326,"West Flanders, Belgium",4523.604328,0.000000
41,Acre,Brazil,2021-01-03 05:22:52,-9.023800,-70.812000,41941,798,33693,7450,"Acre, Brazil",4755.565886,1.902673
42,Alagoas,Brazil,2021-01-03 05:22:52,-9.571300,-36.782000,105361,2502,100531,2328,"Alagoas, Brazil",3157.019162,2.374693
43,Amapa,Brazil,2021-01-03 05:22:52,0.902000,-52.003000,68441,927,52777,14737,"Amapa, Brazil",8092.525874,1.354451
44,Amazonas,Brazil,2021-01-03 05:22:52,-3.416800,-65.856100,201867,5325,171819,24723,"Amazonas, Brazil",4870.606237,2.637875
45,Bahia,Brazil,2021-01-03 05:22:52,-12.579700,-41.700700,495286,9187,481009,5090,"Bahia, Brazil",3330.087197,1.854888
46,Ceara,Brazil,2021-01-03 05:22:52,-5.498400,-39.320600,336574,10015,270203,56356,"Ceara, Brazil",3685.623360,2.975571
47,Distrito Federal,Brazil,2021-01-03 05:22:52,-15.799800,-47.864500,252874,4268,241952,6654,"Distrito Federal, Brazil",8386.451884,1.687797
48,Espirito Santo,Brazil,2021-01-03 05:22:52,-19.183400,-40.308900,250244,5115,229191,15923,"Espirito Santo, Brazil",6226.643276,2.043345
49,Goias,Brazil,2021-01-03 05:22:52,-15.827000,-49.836200,309320,6805,298693,3696,"Goias, Brazil",4405.505906,2.200884
50,Maranhao,Brazil,2021-01-03 05:22:52,-4.960900,-45.274400,200976,4513,190889,5574,"Maranhao, Brazil",2840.577506,2.245542
51,Mato Grosso,Brazil,2021-01-03 05:22:52,-12.681900,-56.921100,180901,4539,170648,4815,"Mato Grosso, Brazil",5164.005044,2.486968
52,Mato Grosso do Sul,Brazil,2021-01-03 05:22:52,-20.772200,-54.785200,135917,2372,119295,13706,"Mato Grosso do Sul, Brazil",4870.877363,1.743486
53,Minas Gerais,Brazil,2021-01-03 05:22:52,-18.512200,-44.555000,549302,12023,496011,41268,"Minas Gerais, Brazil",2594.867132,2.188778
54,Para,Brazil,2021-01-03 05:22:52,-1.998100,-54.930600,294010,7217,276014,10584,"Para, Brazil",3415.222719,2.453652
55,Paraiba,Brazil,2021-01-03 05:22:52,-7.240000,-36.782000,167615,3692,127509,36414,"Paraiba, Brazil",4171.470937,2.202667
56,Parana,Brazil,2021-01-03 05:22:52,-25.252100,-52.021500,419615,8001,306432,105182,"Parana, Brazil",3669.901855,1.906748
57,Pernambuco,Brazil,2021-01-03 05:22:52,-8.813700,-36.954100,223325,9674,189942,23709,"Pernambuco, Brazil",2336.751501,4.331803
58,Piaui,Brazil,2021-01-03 05:22:52,-7.718300,-42.728900,143489,2854,140229,133,"Piaui, Brazil",4375.193043,1.988688
59,Rio Grande do Norte,Brazil,2021-01-03 05:22:52,-5.402600,-36.954100,119338,3009,68394,47302,"Rio Grande do Norte, Brazil",3384.544490,2.523359
60,Rio Grande do Sul,Brazil,2021-01-03 05:22:52,-30.034600,-51.217700,452920,8934,430061,13925,"Rio Grande do Sul, Brazil",3980.930699,1.972534

    Impute in Python is a basic strategy to fill missing values with either mean, median, constant or most_frequent value.

    Estimators are functions in ETL Pipeline which has fit, transform and fit_transform

In [20]:
from sklearn.base import BaseEstimator, TransformerMixin

class NameDropper(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X.drop(['FIPS', 'Admin2'], axis=1)

class ProvinceStateTransform(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self,X):
        return X.dropna(subset=['Province_State'])

class LocationImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        imputer=SimpleImputer(strategy="mean")
        X['Lat']=imputer.fit_transform(X[['Lat']])
        X['Long_']=imputer.fit_transform(X[['Long_']])
        return X

In [71]:
df2=pd.read_csv(r"D:\JohnHopkins\COVID-19\csse_covid_19_data\csse_covid_19_daily_reports\01-01-2021.csv")
df2.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
5,NaN,NaN,NaN,Antigua and Barbuda,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6,Antigua and Barbuda,162.364186,3.144654
6,NaN,NaN,NaN,Argentina,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599,Argentina,3605.633332,2.658269
7,NaN,NaN,NaN,Armenia,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555,Armenia,5390.664389,1.770399
8,NaN,NaN,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,NaN,NaN,New South Wales,Australia,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571

In [72]:
dropper=NameDropper()
imp=LocationImputer()
prvState=ProvinceStateTransform()

df2_transform=prvState.fit_transform(imp.fit_transform(dropper.fit_transform(df2)))

df2_transform.columns
df2_transform.columns = [str(col) for col in df2_transform.columns]  # Ensure all column names are strings
df2_transform.dropna(axis='columns', how='all', inplace=True)  # Drop columns where all values are NaN
df2_transform.fillna(value="Default Value", inplace=True)  
df2_transform.head(40)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
8,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.473500,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,New South Wales,Australia,2021-01-02 05:22:33,-33.868800,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571
10,Northern Territory,Australia,2021-01-02 05:22:33,-12.463400,130.845600,75,0,71,4,"Northern Territory, Australia",30.537459,0.0
11,Queensland,Australia,2021-01-02 05:22:33,-27.469800,153.025100,1255,6,1224,25,"Queensland, Australia",24.533281,0.478088
12,South Australia,Australia,2021-01-02 05:22:33,-34.928500,138.600700,580,4,566,10,"South Australia, Australia",33.020211,0.689655
13,Tasmania,Australia,2021-01-02 05:22:33,-42.882100,147.327200,234,13,221,0,"Tasmania, Australia",43.697479,5.555556
14,Victoria,Australia,2021-01-02 05:22:33,-37.813600,144.963100,20388,820,19539,29,"Victoria, Australia",307.51595,4.021974
15,Western Australia,Australia,2021-01-02 05:22:33,-31.950500,115.860500,863,9,838,16,"Western Australia, Australia",32.806204,1.042874
23,Antwerp,Belgium,2021-01-02 05:22:33,51.219500,4.402400,79680,0,0,79680,"Antwerp, Belgium",4261.577875,0.0
24,Brussels,Belgium,2021-01-02 05:22:33,50.850300,4.351700,81557,0,0,81557,"Brussels, Belgium",6694.575438,0.0
25,East Flanders,Belgium,2021-01-02 05:22:33,51.036200,3.737300,65260,0,0,65260,"East Flanders, Belgium",4278.628819,0.0
26,Flemish Brabant,Belgium,2021-01-02 05:22:33,50.916700,4.583300,49270,0,0,49270,"Flemish Brabant, Belgium",4262.689656,0.0
27,Hainaut,Belgium,2021-01-02 05:22:33,50.525700,4.062100,102209,0,0,102209,"Hainaut, Belgium",7588.800451,0.0
28,Liege,Belgium,2021-01-02 05:22:33,50.449600,5.849200,97027,0,0,97027,"Liege, Belgium",8742.746441,0.0
29,Limburg,Belgium,2021-01-02 05:22:33,50.973900,5.342000,29349,0,0,29349,"Limburg, Belgium",3345.110957,0.0
30,Luxembourg,Belgium,2021-01-02 05:22:33,50.054700,5.467700,18416,0,0,18416,"Luxembourg, Belgium",6422.2743,0.0
31,Namur,Belgium,2021-01-02 05:22:33,50.331000,4.822100,35462,0,0,35462,"Namur, Belgium",7152.019232,0.0
32,Unknown,Belgium,2021-01-02 05:22:33,35.768908,-71.113714,10701,19581,0,0,"Unknown, Belgium",Default Value,182.982899
33,Walloon Brabant,Belgium,2021-01-02 05:22:33,50.400000,4.350000,25144,0,0,25144,"Walloon Brabant, Belgium",6192.813637,0.0
34,West Flanders,Belgium,2021-01-02 05:22:33,51.053600,3.145800,54214,0,0,54214,"West Flanders, Belgium",4514.278339,0.0
41,Acre,Brazil,2021-01-02 05:22:33,-9.023800,-70.812000,41689,796,33670,7223,"Acre, Brazil",4726.992352,1.909377
42,Alagoas,Brazil,2021-01-02 05:22:33,-9.571300,-36.782000,105091,2496,99710,2885,"Alagoas, Brazil",3148.928928,2.375084
43,Amapa,Brazil,2021-01-02 05:22:33,0.902000,-52.003000,68361,926,52670,14765,"Amapa, Brazil",8083.066602,1.354574
44,Amazonas,Brazil,2021-01-02 05:22:33,-3.416800,-65.856100,201574,5295,170178,26101,"Amazonas, Brazil",4863.536793,2.626827
45,Bahia,Brazil,2021-01-02 05:22:33,-12.579700,-41.700700,494684,9159,478198,7327,"Bahia, Brazil",3326.039611,1.851485
46,Ceara,Brazil,2021-01-02 05:22:33,-5.498400,-39.320600,336504,10004,269846,56153,"Ceara, Brazil",3679.250221,2.974178
47,Distrito Federal,Brazil,2021-01-02 05:22:33,-15.799800,-47.864500,252077,4263,241952,5862,"Distrito Federal, Brazil",8360.01974,1.69115
48,Espirito Santo,Brazil,2021-01-02 05:22:33,-19.183400,-40.308900,249271,5093,227931,16242,"Espirito Santo, Brazil",6202.580469,2.040841
49,Goias,Brazil,2021-01-02 05:22:33,-15.827000,-49.836200,309191,6805,298401,3906,"Goias, Brazil",4404.337541,2.201467
50,Maranhao,Brazil,2021-01-02 05:22:33,-4.960900,-45.274400,200959,4506,190884,5569,"Maranhao, Brazil",2840.33723,2.242248
51,Mato Grosso,Brazil,2021-01-02 05:22:33,-12.681900,-56.921100,180659,4530,170171,5066,"Mato Grosso, Brazil",5157.289524,2.485754
52,Mato Grosso do Sul,Brazil,2021-01-02 05:22:33,-20.772200,-54.785200,135361,2360,117816,14587,"Mato Grosso do Sul, Brazil",4848.890926,1.741744
53,Minas Gerais,Brazil,2021-01-02 05:22:33,-18.512200,-44.555000,546884,12001,494278,40605,"Minas Gerais, Brazil",2583.444657,2.194432
54,Para,Brazil,2021-01-02 05:22:33,-1.998100,-54.930600,293807,7209,275483,11120,"Para, Brazil",3415.164599,2.45029
55,Paraiba,Brazil,2021-01-02 05:22:33,-7.240000,-36.782000,167062,3680,127030,36352,"Paraiba, Brazil",4157.708305,2.202775
56,Parana,Brazil,2021-01-02 05:22:33,-25.252100,-52.021500,418323,7993,305194,105136,"Parana, Brazil",3658.602179,1.910724
57,Pernambuco,Brazil,2021-01-02 05:22:33,-8.813700,-36.954100,222993,9666,189850,23477,"Pernambuco, Brazil",2333.277633,4.334665
58,Piaui,Brazil,2021-01-02 05:22:33,-7.718300,-42.728900,143210,2848,139971,368,"Piaui, Brazil",4374.245966,1.983531
59,Rio Grande do Norte,Brazil,2021-01-02 05:22:33,-5.402600,-36.954100,119338,3009,68394,46966,"Rio Grande do Norte, Brazil",3374.906219,2.528875
60,Rio Grande do Sul,Brazil,2021-01-02 05:22:33,-30.034600,-51.217700,451912,8917,424406,18589,"Rio Grande do Sul, Brazil",3972.070904,1.973172

In [76]:
def load_to_sql(df, schema, table_name, connection):
    cursor = connection.cursor()
    # Creating column list for insertion
    cols = ", ".join([f"`{i}`" for i in df.columns.tolist()])

    # Insert DataFrame records one by one.
    for i, row in df.iterrows():
        sql = f"INSERT INTO `{schema}`.`{table_name}` ({cols}) VALUES ({', '.join(['%s']*len(row))})"
        cursor.execute(sql, tuple(row))

    # The connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()
    cursor.close()

# Example usage:
load_to_sql(df2_transform, 'covid_data', 'covid_records', connection)

DatabaseError: 1366 (HY000): Incorrect integer value: 'Default Value' for column 'Incident_Rate' at row 1

In [36]:
def load_to_sql(df2, Covid_Records, connection):
    cursor = connection.cursor()
    # Creating column list for insertion
    cols = ",".join([str(i) for i in df.columns.tolist()])
    
    # Insert DataFrame records one by one.
    for i,row in df2.iterrows():
        sql = f"INSERT INTO {Covid_Records} ({cols}) VALUES ({','.join(['%s']*len(row))})"
        cursor.execute(sql, tuple(row))
        
        # the connection is not autocommitted by default, so we must commit to save our changes
        connection.commit()
    cursor.close()

# Example usage:
load_to_sql(df2, 'Covid_Records', connection)

ProgrammingError: 1146 (42S02): Table 'book.covid_records' doesn't exist